In [1]:
import pandas as pd

df=pd.read_csv('C:/trabalhodados/ecomm.data.csv')

In [4]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    # Replace missing values with 0 in column: 'Rating'
    df = df.fillna({'Rating': 0})
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,ProductID,ProductName,Category,Price,QuantitySold,Promotion,Discount,Rating,CustomerAge,CustomerGender,CustomerLocation,PurchaseDate
0,1001,Badminton Set,Electronics,50.0,77,Yes,32,4.0,64,Female,Australia,2022-01-01
1,1002,Curtains,Electronics,196.0,38,Yes,45,0.0,24,Male,China,2022-01-02
2,1003,Hoodie,Beauty,336.0,8,No,4,0.0,36,Male,India,2022-01-03
3,1004,Mascara,Beauty,191.0,78,No,42,1.0,39,Male,Australia,2022-01-04
4,1005,Gaming Console,Sports,102.0,74,No,47,0.0,52,Female,Russia,2022-01-05

In [ ]:
# Calcula a mediana apenas do item Sweater, ignorando valores nulos
mediana_sweater = df_clean.loc[df['ProductName'] == 'Sweater', 'Price'].median()

# Preenche apenas os valores nulos do item Sweater
df_clean.loc[(df_clean['ProductName'] == 'Sweater') & (df_clean['Price'].isnull()), 'Price'] = mediana_sweater

print("\nDepois do preenchimento:\n", df_clean)

Depois do preenchimento:
      ProductID     ProductName       Category  Price  QuantitySold Promotion  \
0         1001   Badminton Set    Electronics   50.0            77       Yes
1         1002        Curtains    Electronics  196.0            38       Yes
2         1003          Hoodie         Beauty  336.0             8        No
3         1004         Mascara         Beauty  191.0            78        No
4         1005  Gaming Console         Sports  102.0            74        No
..         ...             ...            ...    ...           ...       ...
995       1996    Coffee Maker         Sports  118.0            17       Yes
996       1997   Exercise Bike  Home & Garden  180.0             0       Yes
997       1998           Blush    Electronics  136.0            54        No
998       1999          Camera         Sports  267.0            96        No
999       2000   Tennis Racket    Electronics  470.0             8       Yes

     Discount  Rating  CustomerAge CustomerGender CustomerLocation  \
0          32     4.0           64         Female        Australia
1          45     0.0           24           Male            China
2           4     0.0           36           Male            India
3          42     1.0           39           Male        Australia
4          47     0.0           52         Female           Russia
..        ...     ...          ...            ...              ...
995        34     0.0           36         Female           Brazil
996        21     1.0           38         Female           France
997        39     0.0           41           Male            Spain
998        22     0.0           55         Female           France
999         2     2.0           21           Male            India

    PurchaseDate
0     2022-01-01
1     2022-01-02
2     2022-01-03
3     2022-01-04
4     2022-01-05
..           ...
995   2024-09-22
996   2024-09-23
997   2024-09-24
998   2024-09-25
999   2024-09-26

[1000 rows x 12 columns]

In [ ]:
# Calcula a mediana de preços de todos os itens que estão nulos de acordo com o seu tipo
df_clean['Price'] = df_clean['Price'].fillna(
    df_clean.groupby('ProductName')['Price'].transform('median')
)

In [ ]:
#Pergunta 1:

# Cria um novo DataFrame com a média de vendas de cada item por pais 
df_media_paises = df_clean.groupby(['CustomerLocation', 'ProductName'], as_index=False)['QuantitySold'].mean()

print("\n média de vendas por país: \n", df_media_paises)

 média de vendas por país:
     CustomerLocation       ProductName  QuantitySold
0          Australia      Air Purifier         51.00
1          Australia     Badminton Set         52.50
2          Australia        Basketball         60.00
3          Australia               Bed         -8.00
4          Australia            Camera         54.00
..               ...               ...           ...
540    United States     Tennis Racket         90.00
541    United States         Treadmill         62.00
542    United States    Vacuum Cleaner         75.00
543    United States  Wireless Earbuds         37.50
544    United States          Yoga Mat         63.25

[545 rows x 3 columns]